@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital@1&family=Cantarell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #041017;
    color: white;
}

#content{
    max-width: 1600px; 
    margin: 0 auto;   
   
}


p{
    font-family: Cormorant;
    font-size: 2em;
    letter-spacing: 2px;
    opacity: 85%;
    
}

/* IDEX.html*/
header{
    display: grid;
    grid-template-columns: 650px auto;
    width: 100%;
}


nav{
    grid-column: 2/3;
    z-index: 3;
    display: flex;
    width:100%;
    height:8%;
    margin-top: 2.5em;
    align-items:center;
    justify-content:space-around;
    background-color: #0a5776dc;
}


nav a:nth-of-type(1){
    background-color:#16787ded;
    padding: 11px 30px;
    margin-right: 1.6em;
}


nav a:nth-of-type(1):hover{
    color: rgb(251, 154, 34);
}


nav a{
    padding: 0.2em;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    font-family: 'Andika New Basic', sans-serif;
    transition: 0.6s;
        }


nav a:hover{
    color:#FF6F00;
    text-decoration:overline;
}    

nav a:active{
    color: rgb(62, 117, 141);
    cursor: pointer;
    text-shadow: #417895fa 0.4em 0.2em 0.2em;

}

#link_logo{
    grid-column: 1/2;
     z-index: 2;
     
}

.logo{
    margin-left: 3em;
    margin-top: 1em;
    width: 12%;
    border-radius: 100%;
    box-shadow: #fff6eddb 0.2em 0.2em 1em;
}

.logo:hover{
    box-shadow: #fffffffe 0.5em 0.5em 3em;
    transition: 0.3s;
}

.hero-box{
    display: grid;
    margin-top: -6em;
   
}
.title {
    display: grid;
    grid-template-rows: 10em 20em 2.5em;
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 1;   
    padding: 1em;
    margin-top: 8em;
}

h1{
 grid-row: 2/3;
 font-size: 20em;
 font-family:'Koulen', cursive;
 color: white;
 letter-spacing: 15px;
 font-weight: lighter;
 align-self: center;
 margin-left: 200px;
 
}


.title h2{
    grid-row: 1/2;
    margin: 0;
    font-size: 10em;
    font-family: 'Manrope';
    margin-left: 0.3em;
    letter-spacing: 12px;
    font-weight: lighter;
}

.sub-title{
    grid-row: 3/4;
    font-size: 2.5em;
    color:white;
    font-family: 'Andika New Basic', sans-serif;
    font-weight: unset;
    letter-spacing: 5px;
    margin-top: -60px;
    margin-left: 10em;
    transition: 0.9s;
}
.sub-title:hover{
   text-shadow: #fffffffa 0.11em 0.15em 0.2em;   
}
#hero{
    grid-column: 1/3;
    grid-row: 1/2;
}
.hero-img{
    width: 100%;
}





.main{
    width: 94%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:repeat(5,auto);
    grid-gap:5em;
    grid-template-areas: "section-1    article-1 "
                         "article-2    section-2"
                         "video-1      box-1"
                         "box-2        section-3"
                         "footer       footer";
}


.section-1{
    grid-area: section-1;

    
}

.manger-img{
    padding: 2em;
    width: 90%;
    margin-top: 30%;
}
.article-1{
    text-align: left;

    grid-area: article-1;
}

.p1{
    padding: 2em;
}

.section-2{
    display: flex;
    align-items: center;
    grid-area: section-2;
}

.case-img{
    width: 90%;
    padding: 2em;
}

.article-2{
    z-index: 1;
    margin-top: -30%;
    grid-area: article-2;  
}

.p2{
    padding: 2em;
}

.video-1{
  
    width: 150%;
    grid-area: video-1;
    padding: 2em;
    margin-bottom: 30%;
}

iframe{
    width:900px;
     height:506px; 
}

.video-1 h3{
    padding:2em;
    font-size: 3em;
    letter-spacing: 6px; 
    text-align: right;
}

.hr{
   margin-left:34em;
   width: 85%;
}

.box-1{
    grid-area: box-1;
    margin-right: 4em;
    padding: 2em;
    background-color: rgba(10, 71, 92, 0.612);
    text-align: center;
    align-self:center;
    width: 50%;
    height: 30%;
    justify-self: flex-end;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;

}
.p3{
    font-family: banger;
    opacity: 90%;
}
    
.section-3{
    margin-top: 10%;
    grid-area: section-3;
    margin-bottom: 30%;
    width: 140%;
}   

.watch-img{
    width: 100%;
    margin-left: -30%;
}

.box-2{
    z-index: 2;
    margin-left: 0.5em;
    grid-area: box-2;
    background-color: rgb(68, 72, 81);
    padding: 2em;
    width: 100%;
    height: 40%;
    align-self: center;
    border-radius: 15px;
    opacity: 95%;
}

h5{
    color:#ec7a23;
    text-align: end;
    font-size: 3em;
    margin-right: 5%;
    font-family: manrope;
}

.check-botton{
   justify-content: flex-end;
   align-items: center;
   margin-top:-18%;    
}

.check{
    background-color: black;
    padding: 1em;
    font-size: 1.5em;
    text-decoration: none;
    color: aliceblue;
    border-radius: 5px;
    box-shadow: 0.2em 0.2em 0.3em rgb(8, 94, 78);
    margin-left:70%;
}

.check:hover{
   transition: all 0.2s;
    background-color: #475e69;
}

.check:active{
    cursor: pointer;
    margin-left: 70.5%;    
}

.p4{
    padding: 1.5em;
    width: 60%;
    margin-top: -0.8em;
}

h5:last-of-type{
    color: #ec7a23;
    font-size: 3em;
    margin-right: 30%;
}

.hr-2{
    width: 80%;
    margin: 0 auto;
}

footer{
    display: flex;
    grid-area: footer;
    justify-content: space-around;
    align-items:center;
}

footer h3{
    width: 40%;
    letter-spacing: 3px; 
}

footer a{
    text-decoration: none;
}

footer .link_logo{
    width: 20%;
}    

.siteplan{    
    width: 10%;
    font-size: 1.5em;
    margin-right: 1em;
    color: azure;
}

.siteplan:hover{
    color: #FF6F00;
    text-shadow: #FF6F00 0.1em 0.1em 0.2em;
}

footer .logo{
    margin-bottom: 1em;
    width: 25%;
    }

.social{
    display: flex;
    width:60%;
    align-items: center;
}

.social a img{
    width: 120%;
    transition: all 0.2s;
}

.social a img:hover{
    transform: scale(1.2);
    filter:sepia(1);

}

.share{    
    width: 125%;
    margin-top: 0.5em;
}



/*WORK.html*/


.main-3{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:repeat(5, auto) ;
    grid-gap: 10em;
    grid-template-areas: "title-3        title-3"
                         "work-img-1     article-work-1"
                         "work-video     work-video"
                         "work-sect-2    work-box-2"
                         "work-box-3     work-sect-3";

}

.title-3{
    
    margin-left: 5em;
    grid-area: title-3;
    margin-bottom: -4em;
    text-shadow: #475e69 -1.9em -1em 2em;

}
.title-3 h2{
   margin-top: 0.5em;
   font-size: 120px;    
   font-family: manrope;
   margin-left: 0.3em;
   letter-spacing: 12px;
   font-weight: lighter;
   margin-bottom: -1em;

}

.work-img-1{
    grid-area: work-img-1;
    margin-left: 20px;
    
}

.work-img-1 img{
    width: 120%;
    margin-left: 20px;
}

.article-work-1{
    grid-area: article-work-1;
    width: 60%;
    padding: 100px;
    margin-right: 50px;
}

.article-work-1 p{
    margin-top: -300px;
}

.work-video{
    margin-left: 30px;
    grid-area: work-video;
    display: grid;
    grid-template-columns: repeat(2 auto);
    grid-template-rows: repeat(2 auto);
}

.work-video h3{
    color: #FF6F00;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 4em;
    justify-self: right;
    margin-top: -50px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-spacing: 10px;
    margin-bottom: 150px;
}

.work-video .video-2{
    grid-column: 1/2;
    grid-row: 2/3;
}

.work-box-1{
    margin-top: 300px;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    width: 600px;
    margin-right: 80px;
}
.work-video .pulse{
    font-size: 3em;
    margin-left: 180px;
    margin-top:-150px;
}

.work-video .breathing{
    font-size: 3em;
    margin-left: 50px;
}
.work-video .concentration{
    font-size: 3em;
    margin-left: 200px;
}
.work-video p{
    margin-right: 120px;
    text-align:right;
    margin-top: 80px;
}


.work-sect-2{
    grid-area: work-sect-2;
    justify-self:left;
    width: 50%;
    padding-left: 3em;

}
.work-sect-2 p{
    margin-top: -120px;
}

.work-box-2{
    display: grid;
    grid-template-rows: repeat(2 auto);
    grid-template-columns: repeat(3 1fr);
    grid-area: work-box-2;
    width: 130%;
    margin-left:-420px
}
.size-img{
    grid-column: 1/4;
    grid-row: 1/3;
    align-self: center;
} 
.size-img img{
    width: 100%;
}

.work-box-2 h5:nth-of-type(1){
    width: 60%;
    font-size: 50px;
    text-align: right;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 2;
    margin-left: -50px;
    margin-top: 110px;
    word-spacing: 10px;
}
.work-box-2 h5:nth-of-type(2){
    width: 60%;
    font-size: 50px;
    text-align: right;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 2;
    margin-left: 150px;
    margin-top: 180px;
    word-spacing: 10px;
}
.work-box-2 p{
    grid-column: 1/2;
    grid-row: 2/3;
    opacity: 100%;
    font-family: manrope;
    text-align: left;
    margin-left: 50px;
    width: 35%;
    margin-top: -50px;
}
.work-box-3{
    margin-left: 50px;
    margin-top: 50px;
    grid-area: work-box-3;
    background-color: #0d2e44;
    width: 90%;
    border-radius: 15px;
    height: 300px;
    margin-bottom: 200px;
    border: 10px solid white;
    
}
.work-box-3 h3{
    width: 80%;
    text-align: right;
    padding: 0.5em;
    font-size: 2.3em;
    margin-top: 50px;
    margin-left: 50px;
}

.work-box-3 a{
    color: white;
    font-size: 2em;
    text-decoration: none;
    padding: 20px;
    background-color: black;
    box-shadow: rgb(57, 107, 145) 5px 5px 0.5em;
    border-radius: 15px;
    }
    .work-box-3 a:hover{
        background-color: #444644;
        border: 3px solid rgb(5, 91, 134) ;
        text-shadow: #cacfd3 5px -5px 10px;
    }

.button-box{
    padding: 1em;
    margin-left: 90px;
}


.work-sect-3{
    grid-area: work-sect-3;
    width: 80%;
}
.work-sect-3 p{
    margin-top: 120px;
    margin-right: 100px;
}







/* Biography.html  */

.main-2{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(5 auto);
    grid-gap: 5em;

    grid-template-areas: "title-2         title-2"
                         "section-b-1     img-1"
                         "box-b-1         box-b-1"
                         "img-2           section-b-2"
                         "section-b-3     section-b-3";
}

.title-2{
    grid-area: title-2;
    padding: 2em;
    justify-self: end;
    font-size: 10px;
    text-shadow: #597a8a -2em -2em 2em;
  
}
.title-2 h1{
    font-family:"Manrope";
    margin-right: 120px;
}

.section-b-1{
    grid-area: section-b-1;
    width: 80%;
}

.section-b-1 p{
    margin-top: 110px;
    margin-left: 50px;
}

.section-b-1 h3{
font-size: 4em;
margin-bottom: 50px;
text-align: right;
}

.img-1{
    grid-area: img-1;
    margin-top: 200px;
    margin-left: -70px;
}

.box-b-1{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 95%;
    grid-area: box-b-1;
    
}

.box-b-1 img{
    margin-left: 50px;
    grid-column: 1/3;
    grid-row: 1/3;
    width: 80%;
  
}

.box-b-1 h2{
    
    opacity: 85%;
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #373e3f;
    color: #fc600cf5;
    width: 65%;
    z-index: 2;
    text-align: center;
    font-size: 2.2em;
    font-family: "Cormorant Garamond";
    padding: 1em;
    height: 50%;
    margin-top: 150px;
    margin-left: 150px;
}

.img-2{
    grid-area: img-2;
    grid-column: 1/3;
   
}
.img-2 img{
    margin-top: 150px;
    margin-left: -25px;
    box-shadow: 6px 6px 15px rgb(100, 116, 138);
    border: 6px solid rgba(43, 63, 87, 0.958);
}

.section-b-2{
    grid-area: section-b-2;
    width: 80%;
    margin-top: 200px;
}
.section-b-2 h4{
    margin-bottom: -120px;
    margin-left: -630px;
    font-size: 100px;
    font-family: "manrope";
}
.section-b-2 p{
    margin-top: -200px;
}

.section-b-3{
    border: 4px solid  #8ab2cd ;
    margin-top: 100px;
    margin-bottom: 100px;
    grid-area: section-b-3;
    width: 70%;
    padding: 1em;
    justify-self: center;
    text-align: center;
    background-color: #1c7c8f8a;
}
.section-b-3 p{
    margin-top: 30px;

}

.img-2{
    margin-top: 300px;
    align-self: center;
    margin-left: 40px;
   }
   .contact{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 2em;
   }
   .contact a{
    padding: 1em;
    color: #ec7a23;
    text-decoration: none;
    background-color: black;
    font-size: 25px;
    border-radius: 20px;
    box-shadow: 3px 4px 10px #6d91a1;
   }
   .contact a:hover{
    padding: 1.2em;
    color: rgb(109, 189, 205);
    border: 2px solid rgba(255, 255, 255, 0.552);
    background-color: #08273c;
   }



/* media query*/



@media screen and (max-width: 900px) {
     body{
        background-color: #f30f0f97;
     }
    #content{
        width: 250%;
        background-color: #08273c;
        margin: 0;
        display: block;
        height: auto;
    }
    header{
        display: block;
    }
    nav{
        background-color: rgb(40, 46, 52);
    }
    nav a{
        font-size: 100%;
    }
    header #link_logo{
    display: none;
    }
     
    .hero-box h2{
        z-index: 2;
        font-size: 80px;
        margin-left: 10px;
    }
    .hero-box .title h1{
        font-size: 180px;
        margin-left: 50px;
        margin-top: -300px;
    }

    .sub-title{
        z-index: 2;
        margin-left: 200px;
        margin-top: -250px;
        font-size: 30px;
    }
    .hero-box{
        margin-top: -150px;
        margin-bottom: -150px;
    }
    .hero-box #hero{
        margin-top: 150px;
    }
    
    .main{
        grid-template-columns: none;
        grid-template-areas: 
        "article-1   "
        " section-1  "    
        "article-2"
        "section-2"
        "video-1"
        "box-1"
        "section-3"
        "box-2"
        "footer"
        "footer";
    }
    .article-1{
        width: 90%;
        justify-self: center;
    }
    
    .section-1{
        width: 100%;
    }
    .manger{
        width: 90%;
        margin-top: -300px;
    }
    .article-2{
        width: 90%;
        margin-top: -100px;
        justify-self: center;
    }
    .case{
        width: 90%;
        margin: 0 auto;
    }
    .video-1{
        width: 80%;
        height: 400px;
        }
    iframe{
        width: 800px;
    }
    .box-1{
        justify-self:center;
        width: 80%;
        height: 160px;
        background-color: #c45704;
        border-radius: unset;
        margin: auto;

    }
    .section-3{
        background-color: aliceblue;
        width: 90%;
        justify-self: center;
    }
    .section-3 img{
        margin: 0 auto;     
    }

    .box-2{
        width: 75%;
        height: 400px;
        justify-self: center;
        margin-top: -200px;
    }
}


 