

@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital@1&family=Cantarell&display=swap');
body{
    background-color: #060809;
    color: white;
}
#content{
    max-width: 1600px; 
    margin: 0 auto;
    background-color: #151b1e;
}

#nav_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#link_logo{
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 2;
}
.logo{
    margin-left: 2em;
    margin-top: 0em;
    width: 15%;
}
#title{
    grid-column: 1/2;
    grid-row: 4/6;
    z-index: 1;   
    padding: 1em;
}
h1{
 font-size: 10em;
 margin-top: -2.5em;
 margin-bottom: 20px;
 margin-left: 0.2em;
 color: white;
 font-family: 'Andika New Basic', sans-serif;
 
}
.sub-title{
    font-size: 3em;
    margin-top: -1.5em;
    text-align: center;
    margin-left: 2em;
    color:white;
    font-family: 'Andika New Basic', sans-serif;
    
}

nav{
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 1;
    display: flex;
    width:100%;
    height: 60%;
    margin-top: 1em;
    background-color:#07212dcf ;
    align-items:center;
    justify-content:end;
    box-shadow: rgb(45, 63, 96) 0.5em  0.5em  0.5em  ;
    


}
nav a{
    justify-content: space-around;
    padding: 1em;
    font-size: 2em;
    text-decoration: none;
    color: white;
    margin-right: 1em;
    font-family: 'Andika New Basic', sans-serif;
    transition: 0.5s;
    
    }
nav a:hover{
    color:#FF6F00;
    
}    
#image_hero{
    grid-column: 1/3;
    grid-row: 1/6;
    
}
.image-{
    width: 100%;
    
}