@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital@1&family=Cantarell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #010c12;
    color: white;
}

#content{
    max-width: 1500px; 
    margin: 0 auto;
    
}
p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.9em;
    letter-spacing: 2px;
    stroke-opacity: unset;  
}
header{
    display: grid;
    grid-template-rows: 6em auto;
    grid-template-columns: repeat(2,auto);
    width: 100%;
    
}


nav{
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 1;
    display: flex;
    width:100%;
    height:5%;
    margin-top: 2.5em;
    align-items:center;
    justify-content:end;
    background-color: #0a5776dc;
}
nav a:nth-of-type(1){
    background-color:#16787ded;
    padding: 11px 30px;
    margin-right: 1.6em;
}
nav a:nth-of-type(1):hover{
    color: rgb(251, 154, 34);
}
nav a{
    justify-content: space-around;
    padding: 1em;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    margin-right: 2em;
    font-family: 'Andika New Basic', sans-serif;
    transition: 0.6s;
        }

nav a:hover{
    color:#FF6F00;
}    

#logo{
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 2;
    

}

.logo{
    margin-left: 3em;
    margin-top: 1em;
    width: 15%;
    border-radius: 100%;
    box-shadow: #fff6eddb 0.2em 0.2em 1em;
}
.logo:hover{
    box-shadow: #fffffffe 0.5em 0.5em 3em;
    transition: 0.3s;
}
nav a:active{
    cursor: pointer;
    text-decoration:overline;
    text-shadow: #fc9300fa 0.4em 0.2em 0.2em;

}
 #title{
    grid-column: 1/3;
    grid-row: 2/3;
    z-index: 1;
}

#title {
    display: grid;
    grid-template-rows: 10em 20em 2.5em;
    grid-column: 1/3;
    z-index: 1;   
    padding: 1em;
}

h1{
 grid-row: 2/3;
 font-size: 20em;
 font-family:'Koulen', cursive;
 color: white;
 letter-spacing: 15px;
 font-weight: lighter;
 align-self: center;
 margin-left: 200px;
 
}


#title h2{
    grid-row: 1/2;
    margin: 0;
    font-size: 10em;
    font-family: 'Manrope';
    margin-left: 0.3em;
    letter-spacing: 12px;
    font-weight: lighter;
}

.sub-title{
    grid-row: 3/4;
    font-size: 2.5em;
    color:white;
    font-family: 'Andika New Basic', sans-serif;
    font-weight: unset;
    letter-spacing: 5px;
    margin-top: -60px;
    margin-left: 10em;
    transition: 0.9s;
}
.sub-title:hover{
   text-shadow: #fffffffa 0.11em 0.15em 0.2em;   
}
#hero{
    grid-column: 1/3;
    grid-row: 1/3;
}
.hero-img{
    width: 100%;
}





.main{
    width: 94%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:repeat(5,auto);
    grid-gap:5em;
    grid-template-areas: "section-1    article-1 "
                         "article-2    section-2"
                         "video-1      box-1"
                         "box-2    section-3"
                         "footer       footer";
}


.section-1{
    grid-area: section-1;

    
}

.manger-img{
    padding: 2em;
    width: 90%;
    margin-top: 30%;
}
.article-1{
    text-align: left;

    grid-area: article-1;
}
.p1{
    padding: 2em;
}
.section-2{
    display: flex;
    align-items: center;
   
    grid-area: section-2;
}
.case-img{
    width: 90%;
    padding: 2em;
}
.article-2{
    z-index: 1;
    margin-top: -30%;
    grid-area: article-2;
   
}
.p2{
    padding: 2em;
}
.video-1{
  
    width: 150%;
    grid-area: video-1;
    padding: 2em;
    margin-bottom: 30%;
}
.video-1 h3{
    padding:2em;
    font-size: 3em;
    letter-spacing: 6px; 
    text-align: right;
}
.hr{
   margin-left:34em;
   width: 85%;
}

.box-1{
    grid-area: box-1;
    margin-right: 4em;
    padding: 2em;
    background-color: rgba(10, 71, 92, 0.612);
    text-align: center;
    align-self:center;
    width: 50%;
    height: 30%;
    justify-self: flex-end;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;

}
    
.section-3{
    margin-top: 10%;
    grid-area: section-3;
    margin-bottom: 30%;
    width: 140%;
    
    
}   
.watch-img{
    width: 100%;
    margin-left: -30%;
}
.box-2{
    z-index: 2;
    margin-left: 0.5em;
    grid-area: box-2;
    background-color: rgb(68, 72, 81);
    padding: 2em;
    width: 100%;
    height: 40%;
    align-self: center;
    border-radius: 15px;
    opacity: 95%;
}
h5{
    color:#ec7a23;
    text-align: end;
    font-size: 3em;
    margin-right: 5%;
}
.check-botton{
   justify-content: flex-end;
   align-items: center;
   margin-top:-18%;

      
   

}
.check{
    background-color: black;
    padding: 1em;
    font-size: 1.5em;
    text-decoration: none;
    color: aliceblue;
    border-radius: 5px;
    box-shadow: 0.2em 0.2em 0.3em rgb(8, 94, 78);
    margin-left:70%;
}
.check:hover{
   transition: all 0.2s;
    background-color: #475e69;
}
.check:active{
    cursor: pointer;
    margin-left: 70.5%;
    
}
.p4{
    padding: 1.5em;
    width: 60%;
    margin-top: -0.8em;
}

h5:last-of-type{
    color: #ec7a23;
    font-size: 3em;
    margin-right: 30%;
}
.hr-2{
    width: 80%;
    margin: 0 auto;
}
footer{
    display: flex;
    grid-area: footer;
    justify-content: space-around;
    align-items:center;

}
footer h3{
    width: 40%;
    letter-spacing: 3px;
 
}
footer a{
    text-decoration: none;

}
footer #link_logo{

    width: 20%;
}    
.siteplan{
    
    width: 10%;
    font-size: 1.5em;
    margin-right: 1em;
    color: azure;
   
}
.siteplan:hover{
    color: #FF6F00;
    text-shadow: #FF6F00 0.1em 0.1em 0.2em;
}

footer .logo{
    margin-bottom: 1em;
    width: 25%;
    }

.social{
    display: flex;
    width: 50%;
    align-items: center;
}
.social a img{
    width: 95%;
    transition: all 0.2s;
}
.social a img:hover{
    transform: scale(1.2);
    filter:sepia(1);

}
.share{
    
    width: 125%;
    margin-top: 0.5em;

}

