@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital@1&family=Cantarell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
body{
    background-color: #004068;
    color: white;
}
#content{
    max-width: 1400px; 
    margin: 0 auto;
}

p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.9em;
    text-align:left;
    letter-spacing: 2px;
    stroke-opacity: unset;
    padding: 3em;
    
}

/*first part grid nav*/

#nav_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#link_logo{
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 2;
    width: 30%;
}

.logo:hover{
    box-shadow: #fffffffe 0.5em 0.5em 3em;
    transition: 0.3s;
}

.logo{
    margin-left: 3em;
    margin-top: 1em;
    width: 35%;
    border-radius: 100%;
    box-shadow: #fff6eddb 0.2em 0.2em 1em;
}

#title h2{
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0;
    font-size: 10em;
    font-family: 'Manrope';
    margin-left: 0.2em;
    letter-spacing: 12px;
    font-weight: lighter;
}

#title {
    grid-column: 1/3;
    grid-row: 2/4;
    z-index: 1;   
    padding: 1em;
    margin-top: -2em;
}

h1{
 grid-column: 1/2;
 grid-row: 3/4;
 font-size: 20em;
 margin-top: -0.6em;
 font-family:'Koulen', cursive;
 margin-left: 0.5em;
 color: white;
 letter-spacing: 15px;
 font-weight: lighter;
}

.sub-title{
    grid-column: 1/3;
    grid-row: 3/4;
    font-size: 2.5em;
    margin-top: -11.1em;
    text-align: center;
    margin-left: -9em;
    color:white;
    font-family: 'Andika New Basic', sans-serif;
    font-weight: unset;
    letter-spacing: 5px;
}

nav{
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 1;
    display: flex;
    width:100%;
    height:5%;
    margin-top: 3em;
    align-items:center;
    justify-content:end;
    background-color: #0a5776;
}

nav a:nth-of-type(1){
    background-color:#43bec481;
    padding: 11px 30px;
    margin-right: 1.6em;
    
}

nav a:nth-of-type(1):hover{
    color: rgb(251, 154, 34);
}

nav a{
    justify-content: space-around;
    padding: 1em;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    margin-right: 2em;
    font-family: 'Andika New Basic', sans-serif;
    transition: 0.6s;
        }

nav a:hover{
    color:#FF6F00;
}    

#image_hero{
    grid-column: 1/3;
    grid-row: 1/4;   
}

.image-{
    width: 100%;
}

/* main grdid form here*/

.main-grid-1{
   display: grid;
   grid-template-columns:50% 50%;
   grid-template-rows: repeat(4, 1fr);
}

/*section 1 */

.section-1{
    display:grid; 
    grid-template-columns: 1fr 1fr;
    grid-column: 1/3;
    grid-row: 1/2;
}

.manger{
    grid-column: 1/2;
    
}
.manger-img{
    padding: 4em;
    width: 85%;
    margin-top: 10em;
}


.articule-1{
    grid-column: 2/3;
    
}

.p1{
    
    margin-top: -0.5em;
}

.section-2{
    grid-column: 1/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}

.case{
    grid-column: 2/3;
    margin-top: 5em;
    
}

.case-img{
    padding: 4em;
    width: 85%;

}

.article-2{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: -25em;
}

h3{
    margin-left: 1em;
    grid-column: 1/2;
    grid-row: 1/3;
    color: #ffffff;
    font-size: 3em;
    font-family:"Manrope";
    letter-spacing: 5px;

}
.hr{
    margin-top: 4.5em;
    margin-left: 35em;
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 2;
}

.section-video-exhibit{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/3;
    grid-row: 3/4;

}
.video-exhibit{
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: -11em;
}

.box{
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0;
    font-size: 3em;
    margin-top: -5em;
    margin-left: 2em;
    color: #FF6F00;
}
.box .breathing{
    margin-top: 0;
    margin-bottom: 0;
}
.box .concentration{
    margin-left: 2em;
    padding: -2em;
    margin-top: 0;
    margin-bottom: 0;
}
.box .pulse{
    margin-left: 4em;
    margin-top: 0;
    margin-bottom: 0;
}

.p3{
    text-align:right;
    margin-top: -1em;
    margin-left: 3em;
    padding: 0em;
    grid-column: 2/3;
    grid-row: 2/3;
}
.section-3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/3;
    grid-row: 4/5;
}

.square{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-content: center;
    align-content: center;
    z-index: 2;
    
}
.watching{
    grid-column: 1/2;
    grid-row: 1/2;
}
.watch-img{
    width: 110%;
    border: 20px solid;
}
.box2{
    border: 10px solid #1e3732;;
    background-color: #096488;
    padding: 2em;
    z-index: 2;
}

.p3{
    padding: 0;
    margin: 0;
}

/*aside*/
.aside{
    background-color: #5ee476;
    display: flex;
    flex-direction:column-reverse;
    position: relative;
    width: 10%;
}




