
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Sen&display=swap');
#content{
    max-width: 1600px; 
    margin: 0 auto;
   }
   nav a{
    text-align: center;
    color:white;
    text-decoration: none;
    padding: 35px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h4 {
    color: white;
}
#hero-msg h1, #hero-msg h4{
    text-align: center; 
}
.home-title{
    color:#7B0467;
    font-size: 2em;
    margin-top: 10px;
    font-family: Courgette,'Sen',Verdana, sans-serif
}
h4{
    font-family: Sen,Verdana, sans-serif
    
}
.button-box{
    text-align: center;

}
main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
#background {
    height: 725px;
}
body{
    background-color: white;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color:  #357d6d;
    color:white;
    display: grid;
    grid-template-columns: 150px auto;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a:hover{
    background-color:#7B0467;
    color:#EB9112;
    text-decoration: underline;

}
.book,.join{

    background-color:#357d6d;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius:5px;
}

.book:hover, .join:hover{
    background-color: #44B6AB;
}
#background{
    background-color: #EB9112;
    color:white;
    margin-top: 200px;
}
.mountains{
    margin-top: 200px;
    width:100%
}
.msg{
    background-color: #7B0467;
    color:white;
    line-height: 1em;
    padding: 35px;
    margin-top: 200px;
}
.msg p{
     padding-bottom: 15px;
     font-size: 1.2em;
     font-family: Sen, Verdana, 'Arial Narrow Bold', sans-serif;
    }

h2{
    color:#EB9112;
    font-family: Courgette, Verdana, 'Arial Narrow Bold', sans-serif;
    
}

footer{
    background-color:#274b44;
    color:#cbf1ee;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a{
    color:#EB9112;
    text-decoration: none;
}
footer a:hover{
    background-color:#7B0467;
    color:#D83460;

    
}
footer h3 a:hover{
    text-decoration: underline;

}

footer .social img{   
    padding-top: 15px;
}


.logo{
    width:80px;
}
.icon{
    width:80px;
    padding-top: 10px;
}
#hero-img{
    width:100%;
}
h2 {
    margin: 0;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.card-img{
    border: 10px solid #7B0467;
    width:100%
}
.rivers-card,.camping-card,.rapids-card{
    margin: 200px 0;
    text-align: center;
    font-family:Sen,Verdana, 'Arial Narrow Bold', sans-serif
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(9);
}