
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Sen&display=swap');
#content{
    max-width: 1600px; 
    margin: 0 auto;
   }
   nav a{
    text-align: center;
    color:white;
    text-decoration: none;
    padding: 35px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h4 {
    color: white;
}
#hero-msg h1, #hero-msg h4{
    text-align: center; 
}
.home-title{
    color:#44B6AB;
    font-size: 2em;
    margin-top: 10px;
    font-family: Courgette,'Sen',Verdana, sans-serif
}
h4{
    font-family: Sen,Verdana, sans-serif
    
}
.button-box{
    text-align: center;

}
main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
#background {
    height: 725px;
}
body{
    background-color: white;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color:  #274b44;
    color:#EB9112;
    display: grid;
    grid-template-columns: 150px auto;
    opacity: 90%;
    font-family: Sen;
}
nav{
    display: flex;
    justify-content: space-around;
   
}
nav a:hover{
    background-color:#7b04678f;
    color:#EB9112;
    text-decoration: underline;

}
.book,.join{

    background-color:#EB9112;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius:5px;
}

.book:hover, .join:hover{
    background-color: #357d6d;
}
#background{
    background-color: #EB9112;
    color:white;
    margin-top: 200px;
}
.mountains{
    margin-top: 200px;
    width:100%
}
.msg{
    background-color: #7b04678f;
    color:white;
    line-height: 1em;
    padding: 35px;
    margin-top: 200px;
}
.msg p{
     padding-bottom: 15px;
     font-size: 1.2em;
     font-family: Sen, Verdana, 'Arial Narrow Bold', sans-serif;
 }

h2{
    color:#EB9112;
    font-family: Courgette, Verdana, 'Arial Narrow Bold', sans-serif;
    
}

footer{
    background-color:#274b44;
    color:#cbf1ee;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Sen;
}
footer a{
    color:#EB9112;
    text-decoration: none;
}
footer a:hover{
    background-color:#111d10;
    color:#ffffff;

    
}
footer h3 a:hover{
    text-decoration: underline;

}

footer .social img{   
    padding-top: 15px;
}


.logo{
    width:80px;
}
.icon{
    width:80px;
    padding-top: 10px;
}
#hero-img{
    width:100%;
}
h2 {
    margin: 0;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.card-img{
    border: 10px solid #274b44;
    width:100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.rivers-card,.camping-card,.rapids-card{
    margin: 200px 0;
    text-align: center;
    font-family:Sen,Verdana, 'Arial Narrow Bold', sans-serif
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: auto;
}

.rivers-card {
    grid-column: 2/4;
    grid-row:  2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row:2/3;
} 

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    grid-column: 1/11;
    grid-row: 4/9;
} 

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #8e84b39c;
}

.msg {
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #8e84b39c;
}  

.rectangule-box{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: -100px; 
}
.rectangule-msg{
    grid-column: 1/3;
    background: #392f5eb9;
}
.rectangule-title{
    color:#44B6AB ;
    text-align: left;
    grid-column: 1/2;
}
.button-search{
    text-align: center;
    grid-column: 2/3;
}
.search{
    background-color:#EB9112;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius:5px;
}
.search:hover{
    background-color: #357d6d;

}

.big-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;  
}

.canyon-trip, .fast, .family-trip{
    margin: 200px 0;
    text-align: center;
}
.canyon{
    grid-column: 1/2;
    grid-row: 1/2;
    width:100%;
    box-shadow: 5px 5px 10px #6f7364;
}

.fast-trip{
    grid-column: 2/3;
    grid-row: 1/2;
    width:100%;
    box-shadow: 5px 5px 10px #6f7364;

}

.family{
    grid-column: 3/4;
    grid-row: 1/2;
    width:100%;
    box-shadow: 5px 5px 10px #6f7364;
}
.canyon-trip h3{
    grid-column: 1/2;
    grid-row: 2/3;
}
.fast h3{
    grid-column: 2/3;
    grid-row: 2/3;
}
.family-trip h3{
    grid-column: 3/4;
    grid-row: 2/3;
}




























































@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}