#content{
    max-width: 1600px; 
    margin: 0 auto;
   }
   nav a{
    text-align: center;
    color:white;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.home-title{
    color:#357d6d;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background {
    height: 725px;
}
body{
    background-color: white;
}
header{
    background-color:  #357d6d;
    color:white;
}
nav a:hover{
    background-color:#7B0467;
    color:#EB9112;
    text-decoration: underline;

}
.book{
    background-color: #7B0467;
    color:white;
    text-decoration: none;
}
 .join{
    background-color:#357d6d;
    color: white;
    text-decoration: none;
}
.book:hover{
    background-color: #D83460;

} 
.join:hover{
    background-color: #44B6AB;
    
}
#background{
    background-color: #EB9112;
    color:white;
}
.msg{
    background-color: #7B0467;
    color:white;
}
.msg h2{
    color:#EB9112;
}

footer{
    background-color: #357d6d;
    color:#cbf1ee
}
footer a{
    color:#EB9112;
    text-decoration: none;
}
footer a:hover{
    background-color:#7B0467;
    color:#D83460;

    
}
footer h3 a:hover{
    text-decoration: underline;
}
.logo{
    width:80px;
}
.icon{
    width:80px;
}
#hero-img{
    width:100%;
}