
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Sen&display=swap');
#content{
    max-width: 1600px; 
    margin: 0 auto;
   }
   nav a{
    text-align: center;
    color:white;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
    font-family: 'Sen',Verdana, sans-serif
}
.home-title{
    color:#357d6d;
    font-family: 'Courgette', Verdana, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.button-box{
    text-align: center;

}
main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
#background {
    height: 725px;
}
body{
    background-color: white;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color:  #357d6d;
    color:white;
}
nav a:hover{
    background-color:#7B0467;
    color:#EB9112;
    text-decoration: underline;

}
.book{
    background-color: #7B0467;
    color:white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius:5px;
}
 .join{
    background-color:#357d6d;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius:5px;
}

.book:hover{
    background-color: #D83460;

} 
.join:hover{
    background-color: #44B6AB;
    
}
#background{
    background-color: #EB9112;
    color:white;
}
.msg{
    background-color: #7B0467;
    color:white;
    font-family: 'Sen', Verdana, 'Arial Narrow Bold', sans-serif;
    line-height: 1em;
    padding: 35px;
}
.msg p{
     padding-bottom: 15px;
}
.msg h2{
    color:#EB9112;
    font-family: 'sen',Verdana, 'Arial Narrow Bold', sans-serif;
}

footer{
    background-color: #357d6d;
    color:#cbf1ee;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a{
    color:#EB9112;
    text-decoration: none;
}
footer a:hover{
    background-color:#7B0467;
    color:#D83460;

    
}
footer h3 a:hover{
    text-decoration: underline;

}

footer .social img{   
    padding-top: 15px;
}


.logo{
    width:80px;
}
.icon{
    width:80px;
    padding-top: 10px;
}
#hero-img{
    width:100%;
}
h2 {
    margin: 0;
}
#logo_link{
    padding-top: 5px;
}
.card-img{
    border: 10px solid #7B0467;
}
.rivers-card{
    margin: 200px 0;
}
.camping-card{
    margin: 200px 0;
}
.rapids-card{
    margin: 200px 0;
}