
* {
    box-sizing: border-box;
    background-color: rgb(102, 117, 134);
  }
  .grid1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 2em;
    padding-bottom: 2em;
  }
  
  .grid1 h1 {
    grid-column: 1/3;
    grid-row: 1/2;
    align-items: center
  }
  
  .grid2 {
    background-color: aliceblue;
    grid-column: 2/11;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 1em;
    
  }
  .grid2 h2 {
    grid-column: 3/5;
    grid-row: 1/2;  
    align-items: center


  }

  .grid3 {
    background-color: rgb(167, 231, 210);
    grid-column: 7/13;
    grid-row: 1/2;
    grid-template-columns: repeat(12, 1fr);
    padding: 1em;
  }
  
  .grid3 h3 {
    align-items: center;
    grid-column: 2/5;
  }
  
  .grid4 {
    background-color: rgb(133, 221, 221);
    grid-column: 4/11;
    grid-row: 3/4;
    padding: 1em;
  }
  
  .grid4 h2 {
    align-items: center;
    grid-column: 2/4;

  }
  
  section {
    background-color: azure;
    grid-column: 2/9;
    grid-row: 4/5;
    grid-template-columns: repeat(12, 1fr);
    padding: 1em;
  }
  
  section h2 {
    align-items: center;
    grid-column: 1/3;
    grid-row: 1/2;
    
  }
  
  form {
    background-color: blanchedalmond;
    grid-column: 2/7;
    grid-row: 2/3;   
  }
  form {
    background-color: rgb(168, 147, 189);
    grid-column: 2/7;
    grid-row: 4/5;
  }
  
  fieldset{
    display: grid;
    grid-template-columns:(1fr 5fr);
    padding: 1em;
  }
  
  legend {
    font-size: 20px;
    font-weight: 700;
  }
  
  fieldset > div {
    display: grid;
    grid-template-columns: (1fr 2fr);
    grid-gap: 0 1em;
    padding: 1em;
  }
  
  label {
    grid-column: 1/2;
    text-align: right;

    
  }
  
  input {
    grid-column: 2/3;
    text-align: left;
    width: 100%;
  }
  
  button {
    
    background-color: rgb(136, 136, 224);
    
  }
  
  section > div {
    align-items: center;
  }