#content{
    max-width: 1600px; 
    margin: 0 auto;
   }
   nav a{
    text-align: center;
    color:rgb(47, 86, 203);
    text-decoration: none;
    padding: 1em;
    
    color: azure;
    font-size:2em;
    margin
    
   }
nav{
    display:block;
    background-color: darkslategray;
    max-width: 40%;
    margin-left: 25%;
}

nav a:hover{
    background-color:#040405b9;
    color:#deff38;
    text-decoration: none;
    
}
li{
    list-style: none;
    padding: 2em;
    text-align: center;
    
}
h1{
    padding: 1em;
    text-transform:uppercase;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(251, 251, 251);
    text-shadow: #6b6e6e 2px 2px;
    word-spacing: 0.5em;
}